@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {


  .font{
    font-family: "Sedan SC", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}
